.labelWithTooltip {
  position: relative;
  cursor: pointer;
}

.tooltip {
  display: none;
  position: absolute;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5px;
  z-index: 1;
  width: 200px;
  white-space: pre-line;
}

.labelWithTooltip:hover .tooltip {
  display: block;
}
